# Corpora files, ECU Redis node information, Python cache
# ECU Redis nfo
# Python cache
redis/data/ign
redis/data/lic
redis/data/compressed-corpus
redis/data/cor
redis/doc/redis-info.txt
redis/src/__pycache__

# Apache Lucene index files
# Compiled JAR
lucene/source/*/index/
lucene/source/Lucene.jar

# Bibliography files
bib/dat/
bib/dblp/

# Other files
*._*
*.pdf
*.html
