# Corpora files, ECU Redis node information, Python cache
# ECU Redis nfo
# Python cache
redis/data/ign
redis/data/lic
redis/data/compressed-corpus
redis/data/cor
redis/doc/redis-info.txt
redis/src/__pycache__

# Other files
*.pdf
*.html